body {
    font-family: Helvetica;
    font-style: normal;
}

/* Navbar Section */

.logo {
    width: 100px;
    height: 34px;
    background: #0D28A6;
}

.nav_style {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.btn_style {
    width: fit-content;
    height: 36px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    background: #5CB85F;
    border-radius: 2px;
}

/* offcanvas backdrop */
@media screen and (min-width : 992px) {
    .modal-backdrop.show{
        opacity: 0;
    }
}

/* -------------------- */


/* Main Section */

.desc {
    display: flex;
    align-items: center;
}

h2 {
    font-size: 36px;
    line-height: 54px;
    line-height: 150%;
    align-items: Left;
    vertical-align: Top;
}

p {
    font-style: Light;
    font-size: 16px;
    line-height: 25px;
    vertical-align: Top;
}

.p-w1 {
    width: 32rem;
}

.index-1 {
    position: relative;
    z-index: 1;
    top: -110px;
    width: 41.3rem;
    height: 15rem;
}

.index-2 {
    position: relative;
    z-index: 2;
    top: 130px;
    width: 41rem;
    height: 25.5rem;
}

@media screen and (max-width: 767px) {
    .index-1 {
        width: 34rem;
        height: 14rem;
        top: -170px;
    }

    .index-2 {
        width: 33rem;
        height: 24rem;
        top: 70px;
    }
    
}

@media only screen and (max-width: 991px) {
    .margin-t {
        margin-top: 40px;
    }
}

/* -------------------- */


/* Our Services Section */

.img_serv {
    width: 29rem;
    height: 26.5rem;
}

@media screen and (max-width: 991px) {
   .img_serv {
       margin-bottom: 50px;
   }
}

@media screen and (max-width: 475px) {
    .img_serv {
        width: 25rem;
        height: 22.5rem;
    }
 }

.float-r {
    float: right;
}

.list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.list li {
    padding-left: 30px;
    margin: 20px 0;
    list-style: none;
    background-image: url('../gambar/list_logo.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 18px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

/* -------------------- */


/* Why us */

.box {
    border: 2px solid #D0D0D0;
    border-radius: 8px;
    padding: 24px;
    width: 278px;
    height: 216px;
}

.box h5 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.box p {
    font-size: 14px;
}

.adjust {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* -------------------- */


/* Testimonial section*/

.testi-box {
    max-width: 400px;
    background-color: #F1F3FF;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

.testi-box img {

    width: 80px !important;
    height: 80px;
    border-radius: 100%;
}

.text-review {
    padding-top: 69px;
    padding-bottom: 69px;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
    height: 100%;
}

.star {
    display: flex;
    width: 32px;
}

.testi-box .text-review .star img {
    width: 16px;
    height: 16px;
    margin-bottom: 8px;
}

.testi-box p {
    font-weight: 300 !important;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}

.testi-box h5 {
    font-weight: 1000 !important;
    font-size: 14px;
    line-height: 20px;
}

.prev,
.next {
    width: 10px;
    height: 20px;
}

.next-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid #5CB85F;
    border-radius: 50px;
    background-color: #5CB85F;
    padding: 10px;
}

.prev-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 50px;
    background-color: white;
    padding: 10px;
    margin-right: 24px;
}

.owl-nav {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

@media only screen and (min-width: 780px) {
    .item {
        position: relative;
        transform: translateX(47%);
    }

    .testi-box {
        min-width: 619px !important;
        min-height: 270px !important;
        background-color: #F1F3FF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
    }

}

/* -------------------- */


/* Getting Started Section */

.bg-blue {
    background-color: #0D28A6;
    border-radius: 13px;
}

.color-white {
    color: white;
}

/* -------------------- */


/* FAQ Section */

.accordion-border {
    border: 1px solid #dee2e6;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 16px;
}

/* -------------------- */


/* Footer Section */

.footer-link a {
    color: black;
    text-decoration: none;
    font-weight: 550;
}

.footer-link {
    padding-left: 60px;
}

@media screen and (max-width: 575px) {
    .footer-link {
        padding-left: 0px;
    }
}

.footer-link a:hover {
    color: #0D28A6;
}

.p-w2 {
    width: 350px;
}

/* -------------------- */

/* cari mobil style */

.icons{
    font-family: 'bootstrap-icons', 'Helvetica';
}

.box-position{
    position: absolute;
    top: 80%;
    z-index: 2;
    left: 10.5%;
}

/* -------------------- */